<h1>
  Edit Page
</h1>

<%= form_for @profile do |f| %>
  <p>
    <%= f.label :motto, 'Add your motto or personal mantra.  Remind yourself what makes you awesome' %><br>
    <%= f.text_field (:motto) %><br>
  </p>

  <p>
    <%= f.label :bio, 'How did you come to be the master of the macrocosm or the dutchess of destiny?' %><br>
    <%= f.text_area :bio %>
  </p>

  <p>
    <%= f.label :interests, 'What are the things that you do that others hold their breathe in envious contempt with?' %><br>
    <%= f.text_area :interests %>
  </p>

  <p>
    <%= f.submit 'Save Changes' %>
  </p>
<% end %>
