<div class="row">
  <font size="6">
    Profile Edit
  </font>

  <div class="space">
  </div>

  <div class="row">
    <div class="small-8 columns">
      <%= form_for @profile do |f| %>
        <p class="motto">
          <%= f.label :motto, 'Motto' %><br />
          <%= f.text_field (:motto) %>
        </p>

        <p>
          <%= f.label :bio, 'Bio' %><br />
          <%= f.text_area :bio %>
        </p>

        <p>
          <%= f.label :interests, 'Interests' %><br />
          <%= f.text_area :interests %>
        </p>

        <p>
          <%= f.submit 'Save Changes', class: "custom-button-class" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
