<div class="row">
  <font size="6">
    <%= @user.user_name %>
  </font>
  <font size="5">
    "<%= @profile.motto %>"
  </font>

  <div class="space">
  </div>

  <div class="row">
    <div class="small-1 columns">
    </div>
    <div class="small-11 columns">
      Interests:<br />
      <%= @profile.interests %>
    </div>
  </div>

  <div class="space">
  </div>

  <div class="row">
    <div class="small-1 columns">
    </div>
    <div class="small-11 columns">
      Personal bio:<br />
      <%= @profile.bio %>
    </div>
  </div>

  <div class="space">
  </div>

  <div class="row">
    <%= link_to "Profile Edit", edit_user_profile_path(@profile) %>
  </div>

  <div class="space">
  </div>

  <div class="row">
    <%= link_to "New Post", new_post_path %>
  </div>

  <div class="space">
  </div>

  <% @posts.each do |post| %>
    <div class="row">
      <font size="5">
        <a href="<%= post_path(post) %>" id="postlist"><%= post.title %></a>
      </font>
    </div>
    <div class="space">
    </div>
  <% end %>
</div>
