<div class="row">
  <font size="6">
    <%= @user.user_name %>
  </font>
  <font size="5">
    "<%= @profile.motto %>"
  </font>

  <div class="space">
  </div>

  <div class="row">
    <div class="small-1 columns">
    </div>
    <div class="small-11 columns">
      Interests:<br />
      <%= @profile.interests %>
    </div>
  </div>

  <div class="space">
  </div>

  <div class="row">
    <div class="small-1 columns">
    </div>
    <div class="small-11 columns">
      Miniature condensed-like autobiography:<br />
      <%= @profile.bio %>
    </div>
  </div>

  <div class="space">
  </div>

    <%= link_to "Profile Edit", edit_user_profile_path(@profile) %>
</div>
