<div class="row">

  <font size="6">Sign in</font>

  <div class="space">
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="row">
      <div class="small-4 columns">
        <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %></div>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <div><%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %></div>
      </div>
    </div>

    <div><%= f.submit "Sign in" %></div>
  <% end %>
</div>
