<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= Toy %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <div class="overall_head">
    <div class="small-11 small-centered columns">
      <body>
        <% if user_signed_in? %>
          Welcome, <%= current_user.first_name %>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete  %>
        <% end %>

        <%= yield %>

        <%= javascript_include_tag "application" %>
      </body>
    </div>
  </div>
</html>
